<h2><%= @contact[:name] %></h2>
<p><%= @contact[:phone] %></p>
<p><%= @contact[:email] %></p>

<br>
<a class="btn btn-default" href="/contacts/<%= @contact[:id] %>/edit">Edit</a>
<a class="btn btn-default" href="/contacts/<%= @contact[:id] %>/delete">Delete</a>
<a class="btn btn-default" href="/contacts">Index</a>
