<h1><%= @contact[:name] %></h1>
<p><%= @contact[:phone] %></p>
<p><%= @contact[:email] %></p>

<br>
<a class="btn btn-default" href="/contacts/<%= @i %>/edit">Edit</a>
<a class="btn btn-default" href="/contacts/<%= @i %>/delete">Delete</a>
<a class="btn btn-default" href="/contacts">Index</a>
